version: '0.1'
services:
  cache:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  JWTCache:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  FileDatabase:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=toor
    volumes:
      - mongo_data:/data/db

  AuthDatabase:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=Auth
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./auth.sql:/docker-entrypoint-initdb.d/auth.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d Auth"]
      interval: 5s
      timeout: 5s
      retries: 5

  GetAuthLoadBalancer:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./auth-service/nginx/auth.conf:/etc/nginx/nginx.conf
    depends_on:
      - authworker-1
      - authworker-2
      - authworker-3

  GetServiceLoadBalancer:
    image: nginx:latest
    ports:
      - "8082:80"
    volumes:
      - ./get-service/src/main/java/com/personal/development/cloud/GetService/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - getserviceworker-1
      - getserviceworker-2
      - getserviceworker-3



  authworker-1:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: authworker-1
    expose:
      - 8080
    depends_on:
      AuthDatabase:
        condition: service_healthy
      JWTCache:
        condition: service_started
  authworker-2:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: authworker-2
    expose:
      - 8080
    depends_on:
      AuthDatabase:
        condition: service_healthy
      JWTCache:
        condition: service_started
  
  authworker-3:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: authworker-3
    expose:
      - 8080
    depends_on:
      AuthDatabase:
        condition: service_healthy
      JWTCache:
        condition: service_started

  getserviceworker-1:
    build:
      context: ./get-service
      dockerfile: GetDockerFile
    container_name: getserviceworker-1
    expose:
      - "8080"
    depends_on:
      - cache
      - FileDatabase
      - AuthDatabase

  getserviceworker-2:
    build:
      context: ./get-service
      dockerfile: GetDockerFile
    container_name: getserviceworker-2
    expose:
      - "8080"
    depends_on:
      - cache
      - FileDatabase
      - AuthDatabase


  getserviceworker-3:
    build:
      context: ./get-service
      dockerfile: GetDockerFile
    container_name: getserviceworker-3
    expose:
      - "8080"
    depends_on:
      - cache
      - FileDatabase
      - AuthDatabase

volumes:
  redis_data:
  mongo_data:
  postgres_data:
